@charset "utf-8";

$color-border: rgba(130, 82, 41, 0.76);
$color-cell-bg: #9fda73;
$color-cell-bg-open: #CFAC7B;
$color-flag: #ff3c00;
$border-width: 0px;

body {
	position: relative;
}

.board {
	position: relative;
	display: inline-block;
	border-width: 0 0 $border-width $border-width;
	border-style: solid;
	border-color: $color-border;
	line-height: 0;

	&.is-lost {
		animation: hurueru .1s 10;
	}

	&.is-finished {
		.cell {
			transition: background-color .5s;
			background-color: pink;

			&.is-opened {
				background-color: pink;
			}

			.fas.fa-bomb {
				margin-top: 10px;

				&:before {
					content: '\f004';
				}
			}
		}
	}

	&.is-debug {
		.cell_num, .cell .fas.fa-bomb {
			opacity: .2;
		}
	}

	&_head {
		display: flex;
		padding: 15px;
		background-color: #337133;
		line-height: 1;
		border-width: $border-width $border-width 0 0;
		border-style: solid;
		border-color: $color-border;
		color: #fff;
		font-size: 20px;
		font-weight: bold;

		&_level {
			margin-right: 30px;

			& > select {
				padding: 5px 8px;
			}
		}

		&_flag {
			display: flex;
			align-items: center;
			margin-right: 30px;

			& > .fa-flag {
				color: $color-flag;
				margin-right: 10px;
			}
		}

		&_face {
			display: flex;
			align-items: center;
			font-size: 28px;
		}
	}

	&_row {
		&:nth-child(odd) {
			.cell:nth-child(odd) {
				opacity: .9;
			}
		}

		&:nth-child(even) {
			.cell:nth-child(even) {
				opacity: .9;
			}
		}
	}

	.cell {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-width: $border-width $border-width 0 0;
		border-style: solid;
		border-color: $color-border;
		background-color: $color-cell-bg;
		vertical-align: bottom;

		&.is-opened {
			background-color: $color-cell-bg-open;
		}

		&.is-flag {
			&::before {
				font-family: "Font Awesome 5 Free";
				content: '\f024';
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				color: $color-flag;
				font-size: 22px;
				font-weight: 900;
			}
		}

		&_num {

		}

		&_num, .fas.fa-bomb {
			margin-top: 7px;
			font-size: 25px;
		}

		&:hover {
			opacity: .8 !important;
		}
	}
}

.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(#000, .5);

	&_btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #9fda73;
		line-height: 60px;
		width: 240px;
		text-align: center;
		font-weight: bold;
		border-radius: 60px;
		cursor: pointer;
	}
}

.fade-enter-active {
	transition: opacity .5s 2s;
}
.fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@keyframes boom {
	0% {
		transform: translateZ(0) translateX(50px) translateY(0px);
	}
	25% {
		transform: translateZ(0) translateX(-450px) translateY(0px);
	}
	25.01% {
		transform: translateZ(0) translateX(50px) translateY(-54px);
	}
	50% {
		transform: translateZ(0) translateX(-450px) translateY(-54px);
	}
	50.01% {
		transform: translateZ(0) translateX(50px) translateY(-108px);
	}
	75% {
		transform: translateZ(0) translateX(-450px) translateY(-108px);
	}
	75.01% {
		transform: translateZ(0) translateX(50px) translateY(-162px);
	}
	100% {
		transform: translateZ(0) translateX(-450px) translateY(-162px);
	}
}

.explosion {
	overflow: hidden;
	position: relative;
}

.explosion:after {
	position: absolute;
	top: -10px;
	left: -5px;
	width: 500px;
	height: 215px;
	content: "";
	display: block;
	background-image: url(../images/explosion.png);
	transform: translateZ(0) translateX(-450px) translateY(-162px);
	animation: boom 2s steps(10, start) 1;
}

.buruburu {
	animation: hurueru .1s infinite;
}

@keyframes hurueru {
	0% {
		transform: translate(0px, 0px) rotateZ(0deg)
	}
	25% {
		transform: translate(2px, 2px) rotateZ(1deg)
	}
	50% {
		transform: translate(0px, 2px) rotateZ(0deg)
	}
	75% {
		transform: translate(2px, 0px) rotateZ(-1deg)
	}
	100% {
		transform: translate(0px, 0px) rotateZ(0deg)
	}
}

@keyframes fuwafuwa {
	0% {
		transform: translate(0, 0) rotate(-5deg);
	}
	50% {
		transform: translate(0, -5px) rotate(0deg);
	}
	100% {
		transform: translate(0, 0) rotate(5deg);
	}
}

.heart {
	color: red;

	i {
		animation: fuwafuwa 1s infinite;
	}
}